name: DevOps Java Pipeline

#Roda sempre que houver push na branch main
on:
  push:
    branches: [ "main" ]

jobs:
  #Testar e Compilar
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código (Checkout)
        uses: actions/checkout@v4

      - name: Configurar Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven # Cacheia as dependências

      - name: Rodar Testes Unitários
        run: mvn test # Se falhar aqui a pipeline para

  #Criar Imagem Docker e Enviar
  docker-push:
    needs: test-and-build # So roda se o job anterior passar
    runs-on: ubuntu-latest

    steps:
      - name: Baixar o código
        uses: actions/checkout@v4

      #Engine de recursos avancados
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build e Push da Imagem
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/todo-spring-app:latest
            ${{ secrets.DOCKER_USERNAME }}/todo-spring-app:${{ github.sha }}

          #Usa o cache interno do GitHub Actions
          cache-from: type=gha
          cache-to: type=gha,mode=max